<!DOCTYPE html>
<html>
  <head>
    <title>popular chat</title>
    <link rel="shortcut icon" href="/public/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/scroll.css">
  </head>
  <body>
    <div id="main">
      <div id="left">
        <h2>User name</h2>
        <ul>
          <li class="trans" v-for="name in userall" v-html="name"> {{ name }}</li>
        </ul>
      </div>

      <div id="right">
        <h1>Message</h1>
        <ul id="ulId">
          <li v-for="mess in messall" v-html="mess">{{ mess }}</li>
        </ul>
      </div>
      <div id="form">
        <div id="come" :style="cls">
          <p>This site is for online chat</p><br><br>
          <ul>
            <li><b>1: choose your color</b><br><input type="color" id="color" v-model="color" value="#f6b73c"></li>
            <li><b>2: Your nikname</b><br><input type="text" id="user" placeholder="name" class="shadowB" v-model="user" v-on:keyup.enter="send"></li>
            <li>end press <b>ENTER</b></li>
          </ul>     
        </div>
        <input type="text" id="message" placeholder="message" class="shadowB" v-model="message" v-on:keyup.enter="sendMes">
        <img src="/public/img/15537.png" alt="send" class="shadowB" v-on:click="sendMes">
      </div>
    </div>

    <!-- // script -->
    <script>
      let elem = document.getElementById('ulId');
      setInterval(() => {
      window.scrollTo(0,elem.scrollHeight);
      }, 1000);
    </script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/app.js"></script>

  </body>
</html>
