/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #181c2000;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #4164b1;
}
/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
}